<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a routerLink="../publicacion">
                    <h2 class="post-title">
                        Titulo de la publicacion
                    </h2>
                    <h3 class="post-subtitle">
                        Subtitulo de la publicacion
                    </h3>
                </a>
                <p class="post-meta">
                    Publicado por:
                    <a href="#">Kevin Bravo</a> en 01 Junio, 2020
                </p>
            </div>
            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Publicaciones anteriores &rarr;</a>
            </div>
        </div>
    </div>
</div>