<!-- Page Header -->
<header>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Titulo de la publicacion</h1>
                    <h2 class="subheading">Subtitulo de la publicacion</h2>
                    <span class="meta">
                        Publicado por:
                    <a href="#">Kevin Bravo</a>
                    en Junio 01, 2020</span>
                </div>
            </div>
        </div>
    </div>
</header>
<br>
<hr>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum omnis ipsum placeat quos optio voluptas ratione, magnam modi, nostrum rem reprehenderit odio ipsam nisi, incidunt est aperiam quasi aliquid eos?
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora commodi, adipisci vel quae, nulla eligendi amet omnis culpa asperiores dolorem dolores fuga ratione voluptatum deserunt, tempore voluptates atque modi consequatur.
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos enim animi hic repellat soluta libero quisquam beatae rem, harum asperiores dolorem, nihil non ipsa voluptas exercitationem quam. Adipisci, totam dolore.
                </p>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, earum iure cumque veritatis accusamus molestiae veniam voluptatum itaque nobis libero distinctio modi aperiam! Alias officiis dolorem eligendi rem distinctio quaerat.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quasi est harum quae alias, voluptatum sequi dolores ullam iusto. Voluptatum cumque deserunt earum sunt nobis repudiandae porro, saepe totam impedit?
                </p>

                <h2 class="section-heading">Algun subtema</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, impedit provident cupiditate magni aut amet tempore odio sequi exercitationem, officiis dolorem esse consequuntur ullam possimus eligendi obcaecati voluptate pariatur reprehenderit.
                </p>

                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita harum est sequi repudiandae consectetur nulla? Ullam labore, corrupti mollitia in illo optio, explicabo, cupiditate sunt quam nemo amet! Praesentium, distinctio.
                </p>

                <blockquote class="blockquote">Alguna cita para sustentar</blockquote>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At odio hic ducimus. Cum cupiditate consequuntur magni consectetur corrupti eum, fuga ullam saepe quibusdam, iusto, laudantium voluptatum beatae quo omnis distinctio!
                </p>

                <p>
                    Creditos
                    <a href="http://spaceipsum.com/">Space Ipsum</a>. Fotos de
                    <a href="https://www.flickr.com/photos/nasacommons/">Google</a>.
                </p>
            </div>
        </div>
    </div>
</article>

<hr>